<div class="ui small borderless menu" id="menu">
  <div class="header item">
    <a routerLink="/feed" class="main-name"><h2>Idea Fix.</h2></a>
  </div>

  <div class="item search-item">
    <div class="ui search">
      <div class="ui icon input">
        <i class="search icon"></i>
        <input class="prompt" type="text" placeholder="Search in Idea Fix">
      </div>
      <div class="results"></div>
    </div>
  </div>

  <div class="right menu borderless">

    <div class="item">
      <div class="ui inverted violet button" routerLink="/auth">Log in</div>
    </div>

    <div class="item">
      <div class="ui olive button" routerLink="/registration">Sign up</div>
    </div>

  </div>
</div>
