<div class="ui top fixed stackable small borderless menu" id="menu">
  <div class="header item">
    <a routerLink="/feed"><h2>Idea Fix.</h2></a>
  </div>

  <div class="item search-item">
    <div class="ui search">
      <div class="ui icon input">
        <i class="search icon"></i>
        <input class="prompt" type="text" placeholder="Поиск в Idea Fix">
      </div>
      <div class="results"></div>
    </div>
  </div>

  <div class="right menu borderless">

    <div class="item">
      <div class="ui primary button">Войти</div>
    </div>

    <div class="item">
      <div class="ui primary button">Зарегистрироваться</div>
    </div>

  </div>
</div>
