.ui.avatar.image {
  height: 3em;
  width: 3em;
}

/*.search-item {
  width: 42em;
}

.ui.search, .ui.input {
  width: 100%;
}*/

.ui.vertical.menu{
  margin-top: 4em !important;
  width: 100%;
  display: none;
}

.profile {
  margin-left: 1em;
}

.main-name,
.main-name:hover {
  color: #6435c9;
}
