<div class="ui middle aligned center aligned under-menu grid" *ngIf="!isCorrectStatus()">
  <div class="four wide column">
    <div class="ui centered small image">
      <img class="idea" data-alt-src="../../../img/light-idea.png" src="../../../img/idea.png">
    </div>
    <br><br>

    <div class="ui negative message transition hidden" id="authorization-fail-message">
      <i class="ui close icon"></i>
      <div class="header">Authorization has failed</div>
      <p>Check your E-mail or password</p>
    </div>

    <form class="ui form" [formGroup]="authForm" novalidate>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input formControlName="mail" [(ngModel)]="phone" type="text" name="email" placeholder="E-mail address">
        </div>

        <div *ngIf="authForm.controls['mail'].dirty">
          <div class="ui pointing red basic label"
               *ngIf="authForm.controls['mail'].hasError('required')">
            E-mail is required.
          </div>
          <div class="ui pointing red basic label"
               *ngIf="authForm.controls['mail'].hasError('pattern')">
            Enter correct E-mail.
          </div>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input formControlName="password" [(ngModel)]="pass" type="password" name="password" placeholder="Password">
        </div>

        <div class="ui pointing red basic label"
             *ngIf="authForm.controls['password'].hasError('required') && authForm.controls['password'].dirty">
          Password is required.
        </div>

      </div>

      <button class="ui fluid large olive submit button"
              (click)="loginUser()"
              [disabled] = "!authForm.valid">
        Login
      </button>

    </form>

    <div class="ui message">
      New to us? <a routerLink="/registration">Sign Up</a>
    </div>
  </div>
</div>

<div class="ui middle aligned center aligned grid max-under-menu" *ngIf="isCorrectStatus()">
  <div class="five wide column">
    <div class="ui negative message transition">
      <div class="header">Ooooops!</div>
      <p>You're already in system.</p>
    </div>
  </div>
</div>
