<main>
  <div class="ui slide masked reveal image">
    <img src="../../../img/img3.png" class="visible content">
    <img src="../../../img/img4.png" class="hidden content">
  </div>

  <form [formGroup]="rForm" (ngSubmit)="authorization(rForm.value)" class="ui form">
    <div class=" ui form-container">
      <div class="field">
        <label>Login</label>
        <input type="text" formControlName="login" name="username " id="username" class="ui form-control"
               placeholder="Nickname or e-mail"/>
        <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block"></span>-->
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" formControlName="password" name="password " id="password" class="form-control"
               placeholder="Password"/>
        <!--<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>-->
      </div>
      <button class="ui black button" type="submit"  [disabled]="!rForm.valid">Submit</button>
      <a routerLink="/registration" class="btn btn-link">Register</a>

    </div>
  </form>
</main>


