<app-auth-nav-bar></app-auth-nav-bar>
<div class="under-menu">
  <app-registration-tab></app-registration-tab>
</div>
<main>
  <div class="ui header">Register</div>


        <form [formGroup]="rFormRegistre" (ngSubmit)="authorization(rFormRegistre.value)" class="ui form">
          <div class=" ui form-container">
            <div class="field">
              <label>Nickname</label>
              <input type="text" formControlName="nickname" name="nickname " id="nickname" class="ui form-control"
                     placeholder="Nickname"/>
              <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block"></span>-->
            </div>
            <div class="field">
              <label>E-mail</label>
              <input type="text" formControlName="email" name="email " id="email" class="ui form-control"
                     placeholder="E-mail"/>
              <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block"></span>-->
            </div>
            <div class="field">
              <label>Password</label>
              <input type="text" formControlName="password" name="password " id="password1" class="form-control"
                     placeholder="Password"/>
              <!--<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>-->
            </div>
            <div class="field">
              <label>Confirm Password</label>
              <input type="text" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword"
                     class="form-control"
                     placeholder="Password"/>
              <!--<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>-->
            </div>
            <button class="ui black button" type="submit" [disabled]="!rFormRegistre.valid">Continue</button>

          </div>
        </form>

      <div class="ui tab" data-tab="summary">
        Other contt
      </div>

  <script>
    $('.top.menu .item').tab();
  </script>
</main>
