<app-auth-nav-bar></app-auth-nav-bar>

<div class="ui centered under-menu grid">
  <div class="six wide column">
    <h1 class="ui center aligned header">Registration</h1>
    <br>
    <form class="ui form" [formGroup]="regForm" novalidate>
      <div id="first-step">
        <div class="field">
          <label for="username">Username:</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input formControlName="username" type="text" placeholder="Username" id="username" />
          </div>

          <div *ngIf="regForm.controls['username'].dirty">
            <div class="ui pointing red basic label"
                  *ngIf="regForm.controls['username'].hasError('required')">
              Username is required.
            </div>
            <div class="ui pointing red basic label"
                 *ngIf="regForm.controls['username'].hasError('pattern')">
              Enter correct username.
            </div>
            <div class="ui pointing red basic label"
                 *ngIf="regForm.controls['username'].hasError('minlength')">
              Must be a minimum of 5 characters.
            </div>
            <div class="ui pointing red basic label"
                 *ngIf="regForm.controls['username'].hasError('maxlength')">
              Must be a maximum 32 characters
            </div>
          </div>
        </div>

        <div class="field">
          <label for="mail">E-mail:</label>
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input formControlName="mail" type="email" placeholder="E-mail" id="mail" />
          </div>

          <div *ngIf="regForm.controls['mail'].dirty">
            <div class="ui pointing red basic label"
                 *ngIf="regForm.controls['mail'].hasError('required')">
              E-mail is required.
            </div>
            <div class="ui pointing red basic label"
                 *ngIf="regForm.controls['mail'].hasError('pattern')">
              Enter correct E-mail.
            </div>
          </div>
        </div>

        <div class="field">
          <label for="password">Password:</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input formControlName="password" type="password" placeholder="Password" id="password" />
          </div>

          <div *ngIf="regForm.controls['password'].dirty">
            <div class="ui pointing red basic label"
                 *ngIf="regForm.controls['password'].hasError('required')">
              Password is required.
            </div>
            <div class="ui pointing red basic label"
                 *ngIf="regForm.controls['password'].hasError('pattern')">
              Must be a minimum of 5 characters and 1 digit.
            </div>
          </div>
        </div>

        <!--TODO: add password confirmation-->
        <div class="center aligned">
          <button (click)="continueReg()"
                  [disabled] = "!regForm.controls['username'].valid && !regForm.controls['mail'].valid && !regForm.controls['password'].valid"
                  class="ui inverted violet button" id="continue">
            Continue
          </button>
        </div>
    </div>

    <div  id="second-step" class="hidden">
      <div class="ui container">
        <label for="uploadAvatar" class="ui icon button">
          <i class="add icon"></i>
          Add avatar
        </label>
        <input type="file" id="uploadAvatar" style="display:none">
        <br>
        <div id="preview"></div>
        <br>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Name</label>
          <input placeholder="Name" type="text">
        </div>

        <div class="field">
          <label>Age</label>
          <input formControlName="age" placeholder="Age" type="text">
          <div class="ui pointing red basic label"
               *ngIf="regForm.controls['age'].hasError('pattern') && regForm.controls['age'].dirty">
            Enter correct age.
          </div>
        </div>
      </div>

      <!--<div class="ui calendar required field" id="bday">
        <label>Birthday</label>
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Birthday">
        </div>
      </div>-->

      <!--TODO: add api for countries and cities-->
      <div class="two fields">
        <div class="required field">
          <label>Country</label>
          <input formControlName="country" type="text" placeholder="Country" name="country" id="country" />
          <div class="ui pointing red basic label"
               *ngIf="regForm.controls['country'].hasError('required') && regForm.controls['country'].dirty">
            Country is required.
          </div>
        </div>

        <div class="field">
          <label for="city">City</label>
          <input type="text" placeholder="City" name="city" id="city" />
        </div>
      </div>

      <div class="field">
        <label>About you:</label>
        <textarea></textarea>
      </div>

      <button (click)="backToReg()"
              class="ui inverted violet button">
        Back
      </button>
      <button class="ui violet button"
              [disabled] = "!regForm.valid">
        Sign up
      </button>
    </div>
    </form>
  </div>
</div>
