<app-auth-nav-bar></app-auth-nav-bar>

<div class="ui centered under-menu grid">
  <div class="six wide column">
    <h1 class="ui center aligned header">Registration</h1>
    <br>
    <form class="ui form">
      <div id="first-step">
        <div class="field">
          <label for="username">Username:</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" placeholder="Username" name="username" id="username" />
          </div>
        </div>
        <div class="field">
          <label for="username">E-mail:</label>
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" placeholder="E-mail" name="mail" id="mail" />
          </div>
        </div>

        <div class="field">
          <label for="password">Password:</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" placeholder="Password" name="password" id="password" />
          </div>
        </div>

        <!--TODO: add password confirmation-->

        <div class="center aligned">
          <div class="ui inverted violet button" id="continue">Continue</div>
        </div>
    </div>

    <div id="second-step" class="hidden">

      <div class="ui container">
        <label for="uploadAvatar" class="ui icon button">
          <i class="add icon"></i>
          Add avatar
        </label>
        <input type="file" id="uploadAvatar" style="display:none">
        <br>
        <div id="preview"></div>
        <br>
      </div>

      <div class="two fields">
        <div class="required field">
          <label>Name</label>
          <input placeholder="Name" type="text">
        </div>

        <div class="required field">
          <label>Age</label>
          <input placeholder="Age" type="text">
        </div>
      </div>

      <!--<div class="ui calendar required field" id="bday">
        <label>Birthday</label>
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Birthday">
        </div>
      </div>-->

      <!--TODO: add api for countries and cities-->
      <div class="two fields">
        <div class="required field">
          <label>Country</label>
          <input type="text" placeholder="Country" name="country" id="country" />
        </div>

        <div class="required field">
          <label for="city">City</label>
          <input type="text" placeholder="City" name="city" id="city" />
        </div>
      </div>

      <div class="field">
        <label>About you:</label>
        <textarea></textarea>
      </div>

      <div class="ui inverted violet button" id="back">Back</div>
      <div class="ui violet button" id="reg">Register</div>
    </div>
    </form>
  </div>
</div>
