<div class="ui modal add-modal">
  <i class="close icon"></i>
  <div class="header">
    Add idea
  </div>
  <div class="content">
    <form class="ui form" [formGroup]="rForm" (ngSubmit)="postIdea(rForm.value)">
      <div class="field">
        <label>Idea Title</label>
        <input formControlName="title" type="text" name="title" placeholder="Title">
        <div *ngIf="rForm.controls['title'].dirty">
          <div class="ui pointing red basic label"
               *ngIf="rForm.controls['title'].hasError('required')">
            Title is required.
          </div>
          <div class="ui pointing red basic label"
               *ngIf="rForm.controls['title'].hasError('minlength')">
            Must be a minimum of 10 characters.
          </div>
          <div class="ui pointing red basic label"
               *ngIf="rForm.controls['title'].hasError('maxlength')">
            Must be a maximum 30 characters
          </div>
        </div>
      </div>
      <div class="field">
        <label>Text</label>
        <textarea formControlName="bigDescription"></textarea>
        <div *ngIf="rForm.controls['bigDescription'].dirty">
          <div class="ui pointing red basic label"
               *ngIf="rForm.controls['bigDescription'].hasError('required')">
            Description is required.
          </div>
          <div class="ui pointing red basic label"
               *ngIf="rForm.controls['bigDescription'].hasError('minlength')">
            Must be a minimum of 25 characters.
          </div>
          <div class="ui pointing red basic label"
               *ngIf="rForm.controls['bigDescription'].hasError('maxlength')">
            Must be a maximum 500 characters
          </div>
        </div>
      </div>

      <div class="field remote">
        <div class="ui multiple search selection dropdown">
          <!--<input type="hidden" required>-->
          <!--<i class="dropdown icon"></i>-->
          <input type="text" class="search">
          <div class="default text">Enter tags separated by comma...</div>
        </div>
      </div>

      <br>
      <div>
        <label for="upload" class="ui icon button">
          <i class="file icon"></i>
          Open File
        </label>
        <input type="file" id="upload" style="display:none" multiple="multiple">
        <div id="preview"></div>
      </div>
      <div class="actions">
        <input type="submit" class="button green ui" value="Post Idea" style="margin: 0 auto; display: block"
               [disabled]="!rForm.valid">
      </div>
    </form>
  </div>


</div>
