/* You can add global styles to this file, and also import other style files */

.max-under-menu {
  margin-top: 7em;
}

.hidden {
  display: none;
}

.under-menu {
  margin-top: 3em !important;
}

.cards {
  margin-top: 2em !important;
}

.item-upload {
  margin-right: 1em;
}

.avatar-photo {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
