<div class="ui fluid link card">
    <div class="content">
      <div class="header">
        <img class="ui avatar image" src="https://png.icons8.com/color/1600/avatar.png">Name
        <div class="right floated meta">
          <span class="idea-attachments"><i class="attach icon"></i>2</span>
        </div>
      </div>
    </div>

    <div class="content idea-content">
      <div class="center aligned header">Idea title</div>
      <div class="description">
          Оценке качества восприятия макета используется. Интернет-страницы и слова, получив текст-рыбу, широко используемый. Каждый веб-разработчик знает, что такое текст-рыба возникают некоторые вопросы. То и проектах, ориентированных на латыни и на интернет-страницы и проектах ориентированных. Совсем необязательно буквы встречаются с разной частотой.
      </div>

      <div class="ui center aligned tags">
        <!--TODO: tags with different colors-->
        <button class="ui violet tag-btn button " *ngFor = "let i of [0,1,2,3,4]">
          #tag
        </button>
      </div>
    </div>

    <!--TODO: hover on comments, eye and idea icons-->
    <div class="extra content">
      <div class="ui grid">
        <div class="ui seven wide column">
          <span class="idea-comment"><i class="big comment outline icon"></i>3</span>
        </div>
        <div class="ui two wide column">
          <div class="center aligned">
            <i class="big unhide icon"></i>
          </div>
        </div>
        <div class="ui seven wide column">
          <div class="right floated">
            <span class="fav"><i class="big idea icon"></i>17</span>
          </div>
        </div>
      </div>
    </div>
</div>
